<p id="notice"><%= notice %></p>

<p>
  <strong>Order ID:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>User ID</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Product ID:</strong>
  <%= @order.product_id %>
</p>


<%= link_to 'Back', static_pages_index_path %>
