<%= form_for(@product, html:{class:"edit_product form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: @product %>
  <div class="form-group">
    <%= f.label 'name', class:"col-xs-offset-2 control-label col-xs-2" %><br>
    <div class="col-xs-4">
      <%= f.text_field 'name', class:"form-control", title:"Name" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label 'description', class:"col-xs-offset-2 control-label col-xs-2" %><br>
    <div class="col-xs-4">
      <%= f.text_area :description, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image_url, class:"col-xs-offset-2 control-label col-xs-2" %><br>
    <div class="col-xs-4">
      <%= f.text_field :image_url, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'color', class:"col-xs-offset-2 control-label col-xs-2" %><br>
    <div class="col-xs-4">
      <%= f.text_field 'colour', class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'price', class:"col-xs-offset-2 control-label col-xs-2" %><br>
    <div class="col-xs-4">
      <%= f.text_field 'price', class:"form-control" %>
    </div>
  </div>
  <div class="actions col-xs-9 col-xs-offset-3">
    <%= f.submit class:"btn btn-default", id:"update_button" %>
  </div>
<% end %>
