<% notice %><p id="notice"></p>

<% cache @product do %>
<div class="container-fluid">
  <div class="row">
   <div class="col-sm-offset-2 col-sm-8 col-md-6 this_product">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image:"#{@product.image_url}")%>
    </div>
    <div class="caption">
      <h3 class="item_name"><%= @product.name %></h3>
      <p class="item_description"><%= @product.description %> 
      <ul>
        <li>Color: <%= @product.colour %></li>
      </ul>
      </p>
      <br>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <p class="item_price"><strong><%= @product.price %> €</strong></p>
      <br>
      <p>
        <div>
          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        </div>
      </p>
      <p><div><%= link_to 'Back', products_path, class:"btn btn-primary", role:"button" %> <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default", role:"button" %> </div> </p>
      <p><%= render 'comments' %></p>
      <p><small><em><%= will_paginate @comments %> <%= page_entries_info @comments %></em></small></p>
    </div>
  </div>
</div>
<%= render 'new_comment' %>
<% end %>