<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>
<body class="<%= @pagebody ? @page_body : ''%>">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" title="Bike Berlin">BB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to '/static_pages/index' do %>
          <%= content_tag :span, "(current)", :class => "sr-only" %>
          Home
          <% end %>
        </li>
        <li> <%= link_to "About", '/static_pages/about' %> </li>
        <li> <%= link_to "Contact", '/static_pages/contact' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "eBikes", products_path %></li>
            <li><%= link_to "Featured Products", '/static_pages/landing_page' %> </li>
            <li><a href="#">Cruser Bikes</a></li>
            <% if current_user && current_user.admin? %>
            <li role="separator" class="divider"></li>
            <%= link_to('New Product', new_product_path) %>
            <% end %>
          </ul>
        </li>
      </ul>
      <!--<ul class="nav pull-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
            <%= link_to('Sign up', new_user_registration_path) %>
          <% end %> 
        </li>
      </ul> -->
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <%= form_tag("/products", class:"navbar-form navbar-left", role:"search", method:"get") do %>
        <%= content_tag(:div, text_field_tag('q', nil, class:"form-control", placeholder:"search"), class:"form-group") %>
          <%= submit_tag("Search", class:"btn btn-default") %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <!--<li>
          <% if user_signed_in? %>
            <%= link_to('Orders', orders_path) %>
          <% end %>
        </li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% if user_signed_in? %>
            <li>
                <%= link_to('Orders', orders_path) %>
            </li>
            <li>
              <%= link_to('New Order', new_order_path) %>
            </li>
            <li>
                <%= link_to( 'Settings', edit_user_registration_path) %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
            <% else %>
              <li>
                <%= link_to('Login', new_user_session_path) %>
              </li>
              <li role="separator" class="divider"></li>
              <li><%= link_to('Sign up', new_user_registration_path) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>

<% if notice %>
  <div class="alert alert-warning" role="alert" id="alert">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" role="alert" id="alert">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>

<%= yield %>

<!--<footer class="site-footer">
  &copy; 2016 Mizuta Berlin
</footer>-->

<footer class="site-footer">
  <div >
    <p class="text-muted">&copy; 2016 Mizuta Berlin.</p>
  </div>
</footer>

</body>
</html>
